.my-class {
  color: #a0a0a0;
  font-size: 1.5em;
  font-family: 'NanumMyeongjo';
}

@font-face {
  font-family: 'NanumGothic';
  src: url('./assets/font/NanumGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumMyeongjo';
  src: url('./assets/font/NanumMyeongjo.ttf') format('truetype');
}